{% extends 'base.html.twig' %}


{% block body %}
<h2><a href="{{ path('admin_card_index') }}">Manage Cards</a></h2>

<h2><a href="{{ path('admin_user_index') }}">Manage Users</a></h2>

{% endblock body %}
